<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>javademproj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <filter>
<filter-name>errorHandlerFilter</filter-name> 
<filter-class>errors.ErrorHandlerFilter</filter-class> 
</filter>
<filter-mapping>
    	<filter-name>errorHandlerFilter</filter-name>
<url-pattern>/*</url-pattern>
        	<!-- These are needed by Tomcat 5 for forwards -->
<dispatcher>REQUEST</dispatcher>
<dispatcher>FORWARD</dispatcher> 
</filter-mapping>
  <error-page>
   <error-code>404</error-code>
  <location>/javademproj/ErrorPage.html</location>
  </error-page>
  <error-page>
 <error-code>500</error-code>
  <location>/javademproj/ErrorPage.html</location>
  </error-page>
   <error-page>
  <location>/javademproj/ErrorPage.html</location>
  </error-page>
  <login-config>
<auth-method>FORM</auth-method>
<form-login-config>
<form-login-page>/login.jsp</form-login-page>
<form-error-page>/fail_login.html</form-error-page>
</form-login-config>
</login-config>
</web-app>